@mixin content-text {
    font-weight: 400;
    font-size: 1.8rem;
    line-height: (30/18);
    color: map-get($colors,text-main);
}

@media (max-width: 1200px) {
.text{
    font-size: 2rem;
}
}

@media (max-width: 767px) {
    .text{
        font-size: 1.2rem;
    }
}