.about__container {
    padding-top: #{$title-width}px;
    padding-bottom: 115px;
}

.about__title {
    @include title-text-style;
    margin-bottom: 76px;
}

.about__content {
    @include content-text;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

@media (max-width: 1220px) {

    .about__container {
       @include container-padding-laptop
    }
   
    .about__title {
        margin-bottom: 55px;
    }

}


@media (max-width: 767px) {

    .about__container {
        padding-top: 25px;
        padding-bottom: 8px;
    }    

    .about__title {
        margin-bottom: 19px;
    }

    .about__content {
        gap: 15px;
        padding-bottom: 15px;
    }

   .about__text {
       font-size: 1.2rem;
       line-height: 1.2;
       text-align: justify;
   }



}